{% extends 'user/base_auth.html' %}
<h1>{% block title %}Change Password {% endblock %}</h1>

{% block logo %}
	<div class="logo">
		<img src="https://www.freepnglogos.com/uploads/coffee-logo-png/coffee-house-creative-logo-vector-download-17.png" alt="">
	</div>
{% endblock %}

{% block header_form %}
	<div class="text-center mt-4 name">
		Change Password
	</div>
	<div class="text-center fs-6">
	Masukkan Password anda yang baru
	</div>
{% endblock %}

{% block content %}
<form class="p-3 mt-3" action="{{ url_for('form_x.forgot_password',token=session.token) }}" method="post">
	 <div class="form-field d-flex align-items-center">
		  <span class="fas fa-key"></span>
		  <input type="password" name="password" id="password" placeholder="Password">
	 </div>
	 <div class="form-field d-flex align-items-center">
		<span class="fas fa-key"></span>
		<input type="password" name="confirmation_password" id="confirm_password" placeholder="confirm_password">
   </div>

	 <div class="text-center">
		<p id="message_pesan"></p>
		<div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
		</div>
	 </div>
	 {% if login == False%}
	 <button class="btn mt-3 block_login" onclick="theFunction_change_password()">Change</button>
	 {% endif%}
</form>
{% endblock %}

{% block btn_bottom%} 
	{% if login %}
	<div class="text-center fs-6">
		<a href="{{url_for('form_x.login')}}">Login</a>
	</div>
	{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    var $loading = $('.spinner-grow').hide();
    function theFunction_change_password () {
        $loading.show();
        someVar="Harap Menunggu"
        document.getElementById('message_pesan').innerText = someVar;
        $('.block_login').addClass("disabled")
        // return true or false, depending on whether you want to allow the `href` property to follow through or not
    }
	$('#password, #confirmation_password').on('keyup', function () {
		if ($('#password').val() == $('#confirmation').val()) {
		  $('#message').html('Matching').css('color', 'green');
		} else 
		  $('#message').html('Not Matching').css('color', 'red');
	  })
</script>
{% endblock %}