<html lang="pt_BR">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Home </title>
		  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"> 
		  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
		  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">       
    </head>
    <body>
      <div class="wrapper">
			<div class="logo">
				 <img src="https://www.freepnglogos.com/uploads/coffee-logo-png/coffee-house-creative-logo-vector-download-17.png" alt="">
			</div>
            <div class="text-center mt-4 name">
                USER SHOW
           </div>
           <form class="p-3 mt-3" name="Form" action="{{ url_for('form_x.save_edit',id=session.id) }}" method="post">
            {% if msg %}
            <center><div class="alert alert-warning">{{msg}}</div></center>
            {% endif %}
          
             <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input id="first_name" name="first_name" type="text" value="{{data['first_name']}}" required/>
             </div>
             <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input name="last_name" id="last_name" type="text" value="{{data['last_name']}}" required/>
             </div>
             <div class="form-field d-flex align-items-center">
               <span class="fas fa-user"></span>
               <input type="date" name="date_of_birth" id="date_of_birth"value="{{data['date_of_birth']}}"
               min="1950-01-01" max="2030-12-31" Required>
               <!--<input type="date" name="date_of_birth" id="date_of_birth"  required />-->
            </div>
            <div class="text-center">
               <p id="message_pesan"></p>
               <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                  <span class="sr-only">Loading...</span>
               </div>
            </div>
             <button id="block_submit" class="btn mt-3" onclick="theFunction()">Update</button>
          </form>
          <div class="text-center fs-6">
            <a href="{{url_for('form_x.index')}}">Beranda</a>
        </div>
	  	</div>
    </body>
</html>


<script type="text/javascript">
    var $loading = $('.spinner-grow').hide();
    function theFunction () {
        var a = document.forms["Form"]["date_of_birth"].value;
        if (a == null || a == "") {
            alert("Please Fill All Required Field");
            return false;
        }else{
            $loading.show();
            someVar="Harap Menunggu"
            document.getElementById('message_pesan').innerText = someVar;
            $('.block_logout').addClass("disabled")
        }
    }
</script>