{% extends 'user/base_auth.html' %}
<h1>{% block title %}User Update {% endblock %}</h1>

{% block logo %}
	<div class="logo">
		<img src="https://www.freepnglogos.com/uploads/coffee-logo-png/coffee-house-creative-logo-vector-download-17.png" alt="">
	</div>
{% endblock %}

{% block header_form %}
	<div class="text-center mt-4 name">
		User Update
	</div>
{% endblock %}

{% block content %}
    <form class="p-3 mt-3" name="Form" action="{{ url_for('form_x.save_edit',id=session.id) }}" method="post">    
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input id="first_name" name="first_name" type="text" value="{{data['first_name']}}" required/>
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input name="last_name" id="last_name" type="text" value="{{data['last_name']}}" required/>
        </div>
        <div class="form-field d-flex align-items-center">
        <span class="fas fa-user"></span>
        <input type="date" name="date_of_birth" id="date_of_birth"value="{{data['date_of_birth']}}"
        min="1950-01-01" max="2030-12-31" Required>
        </div>
        <div class="text-center">
        <p id="message_pesan"></p>
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        </div>
        </div>
        <button id="block_submit" class="btn mt-3" onclick="theFunction_Update()">Update</button>
    </form>
{% endblock %}

{% block btn_bottom%} 
	<div class="text-center fs-6">
		<a href="{{url_for('form_x.index')}}">Beranda</a>
   </div>
{% endblock %}


{% block js %}
<script type="text/javascript">
    var $loading = $('.spinner-grow').hide();
    function theFunction_Update () {
        var a = document.forms["Form"]["date_of_birth"].value;
        if (a == null || a == "") {
            alert("Please Fill All Required Field");
            return false;
        }else{
            $loading.show();
            someVar="Harap Menunggu"
            document.getElementById('message_pesan').innerText = someVar;
            $('.block_logout').addClass("disabled")
        }
    }
</script>
{% endblock %}