<html>
   <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Home </title>
		  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}"> 
		  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
		  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">       
   </head>
   <body>
        <div class="wrapper">
            <div class="logo">
                <img src="https://www.freepnglogos.com/uploads/coffee-logo-png/coffee-house-creative-logo-vector-download-17.png" alt="">
            </div>
            <div class="text-center mt-4 name">
                Beranda
            </div>
            {% if msg %}
                <center><div class="alert alert-warning">{{msg}}</div></center>
            {% endif %}	
            <div class="container text-center mt-4">
                <div class="row">
                    <div class="text-center col-12">{{ session.id }}</div>
                </div>
                <div class="row">
                    <div class="text-center col-12">{{ session.email }}</div>
                </div>
                <div class="row">
                    <div class="text-center col-12">{{ session.username }}</div>
                </div>
                <div class="row">
                    <a href="{{ url_for('form_x.user_show',id=session.id) }}"class="text-center col-12">Edit</a>
                </div>
            </div>
            <div class="text-center fs-6">
                {%if session.validation == 2 %} 
                    <figure class="text-end">
                        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                        </div>
                        <figcaption class="blockquote-footer">
                            <a href="{{ url_for('form_x.resend_confirmation') }}" id="block_resend" onclick="return theFunction();" Segera verifikasi <cite title="Source Title">Resend Verifikasi</cite></a>
                        </figcaption>
                    </figure>
                {%endif%}
            </div>
            {% if confirm_email is not defined%}
                {% if session.loggedin %}
                    <div class="row justify-content-end">
                        <div class="col-4">
                            <a href="{{ url_for('form_x.logout') }}"><button class="btn mt-3 block_logout">Logout</button></a> 
                        </div>
                    </div>
                {% else %}
                    <div class="row justify-content-end">
                        <div class="col-4">
                            <a href="{{ url_for('form_x.login') }}"><button class="btn mt-3 block_logout">Login</button></a> 
                        </div>
                    </div>
                {% endif %}
            {%else%}
                {% if session.loggedin %}
                    <div class="row justify-content-end">
                        <div class="col-4">
                            <a href="{{ url_for('form_x.logout') }}"><button class="btn mt-3 block_logout">Logout</button></a> 
                        </div>
                    </div>
                {% else %}
                    <div class="text-center fs-6">
                        <a href="{{url_for('form_x.resend_forgot_password')}}">Forget password?</a> or <a href="{{url_for('form_x.login')}}">Login</a>
                    </div>
                {% endif %}
            {%endif%}
        </div>
   </body>
</html>


<script type="text/javascript">
    var $loading = $('.spinner-grow').hide();
    var a = document.getElementById("block_resend");
    function theFunction () {
        $loading.show();
        someVar="Harap Menunggu"
        document.getElementById('message_pesan').innerText = someVar;
        $('.block_logout').addClass("disabled")
        $('#block_resend').css("pointer-events", "none");
    }
</script>